<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Yummy Eats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta class="visible-xs" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <base href="/" />
  <link rel="shortcut icon" href="images/Logomakr_65KdXP.png" type="image/x-icon" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>


  <ui-view></ui-view>
  <!--footer-->
   <div class="row footer">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <p class="text-center" style="margin-bottom:30px">&copy; 2016 <i class="fa fa-cutlery"></i> Yummy Eats | Website by Brionna White </p>
    </div>
  </div>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
</body>

</html>
