<!-- title(desktop)-->
<div class="row background">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <p class="text-center title">
      <i class="fa fa-cutlery"></i>Yummy Eats</p>
      <p class="text-center subTitle">
        Quickly find easy and yummy recipes for your next meal!
      </p>
      <!-- search bar-->
      <div class="searchBar">
        <input
        type="text"
        placeholder="Enter recipe type or ingredients (eggs, beef, etc,..)"
        ng-model="vm.recipe">
        <button
        type="button"
        name="button"
        class="btn btn-warning btn-sm"
        style="background-color:orange;"
        ng-click="vm.search()">search
      </button>
    </div>
  </div>
</div>

<!-- trending recipes -->
<div class="col-xs-12 col-sm-12 col-md-12">
  <p class="text-center header" >Popular eats</p>
  <p class="text-center header2"><b>Top picks of trending recipes</p>
</div>
<div class="row popularEats">
  <div class="col-xs-3 col-sm-3 col-md-3">
    <a
    href="http://food2fork.com/view/Ice_Cream_French_Toast/427c7e">
    <img src="images/IceCreamFrenchToast.jpg" alt="Ice Cream French Toast"></a>
    <p>Ice Cream French Toast</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <a href="http://food2fork.com/view/Sweet_Potato_and_Kale_Grilled_Cheese/f66332">
      <img src="images/SweetPotatoKaleGrilledCheese55a59.jpg" alt="Sweet Potato and Kale Grilled Cheese"></a>
    <p>Sweet Potato and Kale Grilled Cheese</p>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3">
    <a href="http://food2fork.com/view/Easy_BBQ_Baby_Back_Pork_Ribs_Recipe/cdd7cb">
      <img src="images/easy_bbq_baby_back_pork_ribs.jpg" alt="Easy BBQ Baby Back Pork Ribs Recipe"></a>
    <p>Easy BBQ Baby Back Pork Ribs Recipe</p>
  </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="http://food2fork.com/view/Watermelon_Blackberry_and_Mint_Salad/b0940a">
        <img src="images/WatermelonBlackberryandMintSalad.jpg" alt="Watermelon, Blackberry, and Mint Salad"></a>
      <p>Watermelon, Blackberry, and Mint Salad</p>
    </div>
</div>

<!-- search results-->
<div class="row">
  <span ng-show="vm.recipeData">
    <h1 class="text-center header">Results</h1>
    <p class="text-center header2"> Showing results with "{{vm.recipe}}"</p>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2">
      <img
      ng-src="{{vm.recipeData.recipes[0].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[0].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[0].title}}</h5>
    </div>
    <div class="col-xs-2">
      <img
      ng-src="{{vm.recipeData.recipes[1].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[1].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[1].title}}</h5>
    </div>
    <div class="col-xs-2">
      <img
      ng-src="{{vm.recipeData.recipes[2].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[2].recipe_id)"
      alt="{{vm.recipe.title}}"/>
      <h5>{{vm.recipeData.recipes[2].title}}</h5>
    </div>
    <div class="col-xs-2">
      <img
      ng-src="{{vm.recipeData.recipes[3].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[3].recipe_id)"
      alt="{{vm.recipe.title}}"/>
      <h5>{{vm.recipeData.recipes[3].title}}</h5>
    </div>
    <div class="col-xs-2">
      <img
      ng-src="{{vm.recipeData.recipes[4].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[4].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[4].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
  </span>
</div>
<!-- row 2-->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[5].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[5].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[5].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[6].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[6].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[6].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[7].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[7].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[7].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[8].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[8].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[8].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[9].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[9].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[9].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
  </span>
</div>
<!-- row 3 -->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[10].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[10].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[10].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[11].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[11].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[11].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[12].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[12].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[12].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[13].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[13].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[13].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[14].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[14].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[14].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
  </span>
</div>
<!-- row 4 -->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[15].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[15].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[15].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[16].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[16].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[16].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[17].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[17].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[17].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[18].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[18].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[18].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[19].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[19].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[19].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
  </span>
</div>
<!-- row 5 -->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[20].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[20].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[20].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[21].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[21].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[21].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[22].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[22].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[22].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[23].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[23].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[23].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[24].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[24].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[24].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
  </span>
</div>
<!-- row 6 -->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[25].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[25].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[25].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[26].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[26].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[26].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[27].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[27].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[27].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[28].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[28].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[28].title}}</h5>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <img
      ng-src="{{vm.recipeData.recipes[29].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[29].recipe_id)"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[29].title}}</h5>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1"</div>
  </span>
</div>
<!-- footer-->
<div class="row footer">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <p class="text-center">&copy; 2016 <i class="fa fa-cutlery"></i> Yummy Eats | Website by Brionna White </p>
  </div>
</div>
