

<input type="text" placeholder="recipe" ng-model="vm.recipe">
<button type="button" name="button" class="btn btn-warning" ng-click="vm.search()">search</button>

<!-- results-->
<div class="row">
  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[0].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[0].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[0].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[1].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[1].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[1].title}}</h5>
      </div>
    </div>
  </span>


  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[2].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[3].recipe_id)"
        width="150"
        length="15s0"
        alt="{{vm.recipe.title}}"/>
        <h5>{{vm.recipeData.recipes[3].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[4].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[4].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[4].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[5].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[5].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[5].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[6].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[6].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[6].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[7].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[7].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[7].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[8].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[8].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[8].title}}</h5>
      </div>
    </div>
  </span>


  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[9].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[9].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[9].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[10].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[10].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[10].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[11].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[11].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[11].title}}</h5>
      </div>
    </div>
  </span>


  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[12].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[12].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[12].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[13].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[13].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[13].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[14].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[15].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[15].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[16].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[16].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[16].title}}</h5>
      </div>
    </div>
  </span>

  <span ng-show="vm.recipeData">
    <div class="col-xs-2">
      <div class="col-xs-10">
      <img
        ng-src="{{vm.recipeData.recipes[17].image_url}}"
        ng-click="vm.goToRecipe(vm.recipeData.recipes[17].recipe_id)"
        width="150"
        length="150"
        alt="{{vm.recipeData.title}}"/>
        <h5>{{vm.recipeData.recipes[17].title}}</h5>
      </div>
    </div>
  </span>

<span ng-show="vm.recipeData">
  <div class="col-xs-2">
    <div class="col-xs-10">
    <img
      ng-src="{{vm.recipeData.recipes[18].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[18].recipe_id)"
      width="150"
      length="150"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[18].title}}</h5>
    </div>
  </div>
</span>

<span ng-show="vm.recipeData">
  <div class="col-xs-2">
    <div class="col-xs-10">
    <img
      ng-src="{{vm.recipeData.recipes[19].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[19].recipe_id)"
      width="150"
      length="150"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[19].title}}</h5>
    </div>
  </div>

<span ng-show="vm.recipeData">
  <div class="col-xs-2">
    <div class="col-xs-10">
    <img
      ng-src="{{vm.recipeData.recipes[20].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[20].recipe_id)"
      width="150"
      length="150"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[20].title}}</h5>
    </div>
  </div>
</span>

<span ng-show="vm.recipeData">
  <div class="col-xs-2">
    <div class="col-xs-10">
    <img
      ng-src="{{vm.recipeData.recipes[21].image_url}}"
      ng-click="vm.goToRecipe(vm.recipeData.recipes[21].recipe_id)"
      width="150"
      length="150"
      alt="{{vm.recipeData.title}}"/>
      <h5>{{vm.recipeData.recipes[21].title}}</h5>
    </div>
  </div>
</span>
</div>
