.searchBar {
  padding: 0px 300px 130px 400px;
  padding-top: 30px;
  zoom: 100%;
}

input {
  width:500px;
  height:30px;
  border-color: orange;
}

.background {
  background-image: url('/images/veggy1.jpg');
  width:101%;
  height:550px;
  opacity: 0.8;
  background-repeat: no-repeat, repeat;
  color:#000000;
}

.title {
  font-size:130px;
  font-family:fruitopia;
  padding:165px 0px 0px 100px;
  color:green;
}

.subTitle {
  font-size:27px;
  color:white;
  padding:0px 0px 0px 100px;
}

.footer {
  width:102.5%;
  height:100px;
  font-size:18px;
  padding-top:40px;
  color:white;
  background-color: green;
  opacity: 0.8;
}

.header{
  font-size: 50px;
  font-family: phobo;
}
.header2{
  font-size: 20px;
  font-family: phobo;
}

img{
  width: 200px;
  height: 200px;
}

.popularEats {
  text-align: center;
  padding: 0px 20px 50px 40px;
}
